#same_product_height{
	#tt-pageContent{
		.tt-product,
		.tt-product-design02{
			.tt-image-box{
				height: 200px;
				overflow: hidden;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-content: stretch;
				align-items: center;
				img{
					max-height: 200px;
					width:auto;
					max-width: 100%;
					display: inline-block;
				}
				.tt-img-roll-over{
					text-align: center;
					height: 100%;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-content: stretch;
					align-items: center;
				}
			}
		}
	}
}